<template name="postEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="quote">Advice</label>
      <div class="controls">
          <input name="quote" id="quote" type="text" value="{{quote}}" placeholder="Your advice" class="form-control"/>
          <span class="help-block">{{errorMessage 'quote'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>