<template name="about">
<h3>About 2Cents</h3>
<div class="about-header">
  <h4>What's the best advice you've ever received?</h4>
  <p>2Cents is the place to share it! Share advice with others and find advice on topics of your interest. </p>
</div>
<div class="about-header">
  <h4>How 2Cents Works</h4>
  <ol>
    <li><b>Post</b> advice under a topic.</li>
    <li><b>Upvote</b> advice that you think is awesome!</li>
    <li><b>Comments</b> can be posted on every piece of advice.</li>
  </ol>
</div>
<div class="about-header">
  <h4>Other Tid-Bits</h4>
  <p>2Cents was created by <a href="https://www.linkedin.com/in/tylerriedal">Tyler Riedal</a> and was built using <a href="https://www.meteor.com">Meteor</a>.</p>
</div>
</template>