<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">2Cents</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'home' 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">New</a>
        </li>
        <li class="{{activeRouteClass  'bestPosts'}}">
          <a href="{{pathFor 'bestPosts'}}">Best</a>
        </li>
        <li class="{{activeRouteClass  'careerPosts'}}">
          <a href="{{pathFor 'careerPosts'}}">Career</a>
        </li>
        <li class="{{activeRouteClass 'financePosts'}}">
          <a href="{{pathFor 'financePosts'}}">Finance</a>
        </li>
        <li class="{{activeRouteClass 'schoolPosts'}}">
          <a href="{{pathFor 'schoolPosts'}}">School</a>
        </li>
        <li class="{{activeRouteClass 'relationshipPosts'}}">
          <a href="{{pathFor 'relationshipPosts'}}">Relationships</a>
        </li>
        <li class="{{activeRouteClass 'miscPosts'}}">
          <a href="{{pathFor 'miscPosts'}}">Misc</a>
        </li>
        {{#if currentUser}}
          <li class="dropdown">
            {{> notifications}}
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>